:root {
  --black: #000000;
  --blue: #14213d;
  --orange: #fca311;
  --gray: #e5e5e5;
  --white: #fff;
}

*:root {
  background-color: var(--black);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 98vh;
}

.info-container {
  width: 32vw;
  height: 95vh;
  background-color: var(--blue);
  border-radius: 30px;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.info-box {
  width: 90%;
  height: 30%;
  border: 3px solid var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  /* box-shadow: 4px 4px 0px 0px var(--black); */
}

.console-box {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 90%;
  border: 3px solid var(--black);
  border-radius: 10px;
  background-color: var(--gray);
  /* box-shadow: 4px 4px 0px 0px var(--black); */
  justify-content: space-between;
}

.box-title {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  height: min-content;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 1px 2px 0px var(--black);
}

.box-title h1 {
  font-size: large;
}

.input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* box-shadow: 0px 0px 1px 2px var(--black); */
  width: 100%;
  height: 10%;
  background-color: var(--white);
  border-radius: 0px 0px 8px 8px;
  padding: 10px 0px 10px 0px;
}

.input-box {
  height: 100%;
  width: 80%;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 14pt;
  resize: none;
}

.input-box:hover {
  background-color: var(--black);
  color: var(--white);
}

.input-send {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: auto;
  height: 100%; */
  /* background-color: var(--blue); */
  background-color: transparent;
  color: var(--black);
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 3rem;
  /* border: 2px solid var(--black); */
}

.input-send:hover {
  color: var(--orange);
  /* background-color: var(--orange); */
}

.ai-container {
  background-color: var(--black);
  height: 100%;
  overflow-y: auto;
}

.ai-text {
  color: var(--white);
}
